*{
    margin: 0;
    padding: 0;
}

.logo{
    background-color: #293039;
}

.logo p{
    font-size: 8vh;
    color: #CE9302;
    margin-left: 8vw;
    padding: 2vw;
}

.lista-navegacao a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.lista-navegacao a:hover{
    opacity: 0.7;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #CE9302;
    height: 8vh;
}

.lista-navegacao{
    list-style: none;
    display: flex;
}

.lista-navegacao li{
    letter-spacing: 3px;
    margin-left: 32px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    font-size: 10vh;
    padding-left: 8vw;
    padding-top: 35vh;
    padding-bottom: 35vh;
    color: #fff;
}

.principal{
    background-image: url(/menu/img/Vanguardas.png);
    max-height: 60vh;
    margin-bottom: 30px;
}

.secundaria{
    margin: 0 auto;
    text-align: center;
    height: 20vh;
    width: 60vw;
}

.secundaria a{
    margin: 10px;
    padding: 10px;
    border: 1px solid #293039;
    color: #293039;
    max-width: 100%;
    text-align: center;
    height: 16vh;
    border-radius: 8vh;
    text-decoration: none;
}

.secundaria a:hover{
    color: #fff;
    background-color: #CE9302;
    border: 1px solid #CE9302;
}

.lista ul{
    padding: 10px;
}

footer{
    background-color: #293039;
    margin-top: 40px;
    padding-bottom: 40px;
}

footer div{
    text-align: left;
    width: 40vw;
    margin: 0 auto;
    padding-top: 4vh;

}

footer p{
    padding: 2px;
    color: #fff;
}

.secundaria h2{
    padding: 2vh;
    background-color: #293039;
    text-align: left;
    border-bottom: 1vh solid #CE9302;
    color: #CE9302;
}

.secundaria p{
    margin: 4vh;
    text-align: left;
}

.secundaria{
    margin-bottom: 8vh;
}

.outros{
    padding-top: 24px;
    border-top: 2px solid #293039;
}